body {
  background-color: white;
  font-family: 'Segoe UI', sans-serif;
  padding: 15px;
  background-color: var(--color-bg);
  color: var(--color-text);
}


/* Theme */

#toggle-theme {
  position: fixed;
}

body {
  --color-bg: white;
  --color-text: black;
}
body:has(#toggle-theme:checked) {
  --color-bg: #202020;
  --color-text: white;
}
body:has(:target[id="anchor-1"]) {
  --color-bg: red;
  --color-text: black;
}
body:has(:target[id="anchor-2"]) {
  --color-bg: orange;
  --color-text: black;
}
body:has(:target[id="anchor-3"]) {
  --color-bg: yellow;
  --color-text: black;
}
body:has(:target[id="anchor-4"]) {
  --color-bg: green;
  --color-text: black;
}


/* Text input */

body > section {
  margin-bottom: 25px;
}

input {
  background-color: coral;
}

/* input:is([type="text"], [type="number"]){
  background-color: rgb(144, 209, 229);
  border: solid 2px grey;
} */

input:where([type="text"], [type="number"]){
  background-color: rgb(144, 209, 229);
}

[name="other-styling"]:focus {
  background-color: yellow;
}


/* Checkboxes */

body:not(:has(.for-1:invalid)) .name-1,
body:not(:has(.for-2:invalid)) .name-2,
body:not(:has(.for-3:invalid)) .name-3,
body:not(:has(.for-4:invalid)) .name-4 {
  color: red;
  cursor: pointer;
}

.checks {
  display: flex;
  justify-content: space-around;
}

:target {
  color: white;
}


a {
  all: unset;
}