body {
  background-color: white;
  font-family: 'Segoe UI', sans-serif;
  padding: 15px;
  background: var(--color-accent);
  color: var(--color-text);

  height: 100%;
  margin: 0;
}


body>section {
  margin-bottom: 25px;
  min-height: 20vw;
  padding: 2rem 1rem;
  border-radius: 1rem;
  background-color: var(--color-list);
}



body>div {
  position: fixed;
  right: 1em;
  top: 1em;
  display: flex;
}




/* Theme */

#toggle-theme {
  position: fixed;
}


@layer one {
  body {
    --color-text: #272727;
    --color-bg: rgb(214,214,214);
    --color-list: #ffffff;
    --color-accent: fixed linear-gradient(hotpink 20%, skyblue 80%) center / 100vw 100vh;
  }

  body:has(#toggle-theme:checked) {
    --color-text: #e1e1e1;
    --color-bg: #111;
    --color-list: #222;
    --color-accent: fixed linear-gradient(MediumVioletRed 20%, RoyalBlue 80%) center / 100vw 100vh;
  }
}




@layer two {
  body:has(:target[id='anchor-1']) {
    --color-bg: rgb(12, 59, 8);
    --color-text: black;
  }

  body:has(:target[id='anchor-2']) {
    --color-bg: orange;
    --color-text: black;
  }

  body:has(:target[id='anchor-3']) {
    --color-bg: yellow;
    --color-text: black;
  }

  body:has(:target[id='anchor-4']) {
    --color-bg: green;
    --color-text: black;
  }
}



/* //////// */
/* MARK: :is() of :where()
/* ///////// */
form {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

label {
  display: flex;
  flex-direction: column;
  align-items: start;

  input {
    background-color: coral;
  }
}

:root:has(#is:checked) {
  input:is([type='text'], [type='number']) {
    background-color: rgb(144, 209, 229);
  }
}

:root:has(#where:checked) {
  input:where([type='text'], [type='number']) {
    background-color: rgb(144, 209, 229);
  }
}

:root:has(#is:checked),
:root:has(#where:checked) {
  [name='other-styling'] {
    background-color: yellow;
  }
}

form img {
  max-width: 800px;
}

.checks {
  display: flex;
  justify-content: space-around;

  gap: 1em;
  flex-wrap: wrap;
}

.checks label {
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  gap: 1em;
  background-color: rgb(223, 223, 223);
  border-radius: 8px;
  padding: 0.5em;
}

:target {
  color: white;
}


/* Names */

ul {
  display: flex;
  transition: 1s;

  font-weight: bold;
}

ul li {
  list-style: none;
  margin: 0.5rem;
}

/* Checkboxes */

body:not(:has(.for-1:invalid)) li:nth-child(-3n +16) {
  transition: 1s;
  transform: scale(3);
  color: red;
  cursor: pointer;
}

body:not(:has(.for-4:invalid)) li:nth-last-child(10)~ :has(~ :nth-last-child(2)):nth-child(odd) {
  transition: 1s;
  transform: scale(3);
  color: red;
  cursor: pointer;
}

body:not(:has(.for-2:invalid)) li:nth-child(-3n +8),
body:not(:has(.for-2:invalid)) li:nth-child(14),
body:not(:has(.for-2:invalid)) li:nth-child(21),
body:not(:has(.for-2:invalid)) li:not(:has(+li)) {
  transition: 1s;
  transform: scale(3);
  color: red;
  cursor: pointer;
}

body:not(:has(.for-3:invalid)) li:nth-child(5)~ :has(~ :nth-child(8)),
body:not(:has(.for-3:invalid)) li:nth-child(9)~ :has(~ :nth-child(12)),
body:not(:has(.for-3:invalid)) li:nth-child(21) {
  transition: 1s;
  transform: scale(3);
  color: red;
  cursor: pointer;
}

/* li:nth-last-child(10)~ :has(~ :nth-last-child(2)):nth-child(odd) {
  font-size: 2rem;
}

li:nth-child(-3n +16) {
  background-color: aqua;
}

li:nth-child(5)~ :has(~ :nth-child(8)),
li:nth-child(9)~ :has(~ :nth-child(12)),
li:nth-child(21) {
  background-color: green;
}

li:nth-child(-3n +8),
li:nth-child(14),
li:nth-child(21),
li:not(:has(+li)) {
  background-color: yellow;
} */