/* //////// */
/* MARK: Standard styling
/* ///////// */

html {
  scroll-behavior: smooth;
}

body {
  background-color: white;
  font-family: 'Segoe UI', sans-serif;
  padding: 15px;
  background: var(--color-accent);
  color: var(--color-text);

  height: 100%;
  margin: 0;
}

body > section {
  margin-bottom: 25px;
  min-height: 10vw;
  padding: 2rem 1rem;
  border-radius: 1rem;
  background-color: var(--color-list);
}

body > div {
  position: fixed;
  right: 1em;
  top: 1em;
  display: flex;
}

#darkMode {
  font-size: 2rem;
}


/* Checkboxes  */

.checks {
  display: grid;
  grid-auto-flow: column;
}

.checks label {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: row-reverse;

  background-color: var(--color-list);
  border-radius: 8px;
  padding: 0.5em;
  margin: 0.5rem;
}

:target {
  color: white;
}


/* Names */

#letterString ul {
  display: flex;
  transition: 1s;

  font-weight: bold;
  justify-content: center;
}

ul li {
  transition: 1s;
  list-style: none;
  margin: 0.5rem;
}


/* //////// */
/* MARK: Theme
/* ///////// */

#darkMode {
  display: flex;
  justify-content: center;
}

body {
  --color-text: #272727;
  --color-lowlight: #e5e5e5;
  --color-highlight: #200e4e;
  --color-bg: rgb(214, 214, 214);
  --color-list: #ffffffa8;
  --color-accent: fixed linear-gradient(hotpink 20%, skyblue 80%) center / 100vw 100vh;
}

body:has(#toggle-theme:checked) {
  --color-text: #e1e1e1;
  --color-lowlight: #3d3d3d;
  --color-highlight: #b096f4;
  --color-bg: #111;
  --color-list: #2222227b;
  --color-accent: fixed linear-gradient(MediumVioletRed 20%, RoyalBlue 80%) center / 100vw 100vh;
}

/* Checkboxes */

body:not(:has(.for-1:invalid)) li {
  color: var(--color-lowlight);
  margin: 0.3rem;
}

body:not(:has(.for-1:invalid)) li:nth-child(-3n +16) {
  transition: 1s;
  transform: scale(3);
  color: var(--color-highlight);
  cursor: pointer;
}

body:not(:has(.for-2:invalid)) li {
  color: var(--color-lowlight);
  margin: 0.3rem;
}

body:not(:has(.for-2:invalid)) li:nth-child(-3n +8),
body:not(:has(.for-2:invalid)) li:nth-child(14),
body:not(:has(.for-2:invalid)) li:nth-child(21),
body:not(:has(.for-2:invalid)) li:not(:has(+li)) {
  transition: 1s;
  transform: scale(3);
  color: var(--color-highlight);
  cursor: pointer;
}

body:not(:has(.for-3:invalid)) li {
  color: var(--color-lowlight);
  margin: 0.3rem;
}

body:not(:has(.for-3:invalid)) li:nth-child(5)~ :has(~ :nth-child(8)),
body:not(:has(.for-3:invalid)) li:nth-child(9)~ :has(~ :nth-child(12)),
body:not(:has(.for-3:invalid)) li:nth-child(21) {
  transition: 1s;
  transform: scale(3);
  color: var(--color-highlight);
  cursor: pointer;
  margin: 0.8rem;
}

body:not(:has(.for-4:invalid)) li {
  color: var(--color-lowlight);
  margin: 0.3rem;
}

body:not(:has(.for-4:invalid)) li:nth-last-child(10)~ :has(~ :nth-last-child(2)):nth-child(odd) {
  transition: 1s;
  transform: scale(3);
  color: var(--color-highlight);
  cursor: pointer;
}


/* //////// */
/* MARK: :is() of :where()
/* ///////// */

form {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

label {
  display: flex;
  flex-direction: column;
  align-items: start;

  input {
    background-color: coral;
  }
}

:root:has(#is:checked) {
  input:is([type='text'], [type='number']) {
    background-color: rgb(144, 209, 229);
  }
}

:root:has(#where:checked) {
  input:where([type='text'], [type='number']) {
    background-color: rgb(144, 209, 229);
  }
}

:root:has(#is:checked),
:root:has(#where:checked) {
  [name='other-styling'] {
    background-color: yellow;
  }
}

form img {
  max-width: 800px;
}


/* //////// */
/* MARK: Anchor link
/* ///////// */

.anchorlink p {
  font-size: 1.5em;
}

span:target {
  background-color: var(--color-highlight);
  color: var(--color-lowlight); 
}