html {
  scroll-behavior: smooth;
}

body {
  background-color: white;
  font-family: 'Segoe UI', sans-serif;
  padding: 15px;
  background: var(--color-accent);
  color: var(--color-text);

  height: 100%;
  margin: 0;
}


body>section {
  margin-bottom: 25px;
  min-height: 20vw;
  padding: 2rem 1rem;
  border-radius: 1rem;
  background-color: var(--color-list);
}



body>div {
  position: fixed;
  right: 1em;
  top: 1em;
  display: flex;
}




/* Theme */

/* #toggle-theme {
  position: fixed;
} */

#darkMode {
  display: flex;
  justify-content: center;
}


@layer one {
  body {
    --color-text: #272727;
    --color-lowlight: #e5e5e5;
    --color-highlight: #200e4e;
    --color-bg: rgb(214, 214, 214);
    --color-list: #ffffffa8;
    --color-accent: fixed linear-gradient(hotpink 20%, skyblue 80%) center / 100vw 100vh;
  }

  body:has(#toggle-theme:checked) {
    --color-text: #e1e1e1;
    --color-lowlight: #3d3d3d;
    --color-highlight: #b096f4;
    --color-bg: #111;
    --color-list: #2222227b;
    --color-accent: fixed linear-gradient(MediumVioletRed 20%, RoyalBlue 80%) center / 100vw 100vh;
  }
}




@layer two {
  body:has(:target[id='anchor-1']) {
    --color-bg: rgb(12, 59, 8);
    --color-text: black;
  }

  body:has(:target[id='anchor-2']) {
    --color-bg: orange;
    --color-text: black;
  }

  body:has(:target[id='anchor-3']) {
    --color-bg: yellow;
    --color-text: black;
  }

  body:has(:target[id='anchor-4']) {
    --color-bg: green;
    --color-text: black;
  }
}



/* //////// */
/* MARK: :is() of :where()
/* ///////// */
form {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

label {
  display: flex;
  flex-direction: column;
  align-items: start;

  input {
    background-color: coral;
  }
}

:root:has(#is:checked) {
  input:is([type='text'], [type='number']) {
    background-color: rgb(144, 209, 229);
  }
}

:root:has(#where:checked) {
  input:where([type='text'], [type='number']) {
    background-color: rgb(144, 209, 229);
  }
}

:root:has(#is:checked),
:root:has(#where:checked) {
  [name='other-styling'] {
    background-color: yellow;
  }
}

form img {
  max-width: 800px;
}

/* checkboxes  */

.checks {
  display: grid;
  grid-auto-flow: column;

}

.checks label {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: row-reverse;

  background-color: var(--color-list);
  border-radius: 8px;
  padding: 0.5em;
  margin: 0.5rem;
}

:target {
  color: white;
}

/* "gestolen code" */

input[type="checkbox"] {

  &:checked+label:after {
    content: '';
    position: absolute;
    left: 5px;
    top: 9px;
    background: white;
    width: 2px;
    height: 2px;
    box-shadow:
      2px 0 0 white,
      4px 0 0 white,
      4px -2px 0 white,
      4px -4px 0 white,
      4px -6px 0 white,
      4px -8px 0 white;
    transform: rotate(45deg);
  }
}



/* Names */

#letterString ul {
  display: flex;
  transition: 1s;

  font-weight: bold;
  justify-content: center;
}

ul li {
  transition: 1s;
  list-style: none;
  margin: 0.5rem;
}

/* Checkboxes */

body:not(:has(.for-1:invalid)) li {
  color: var(--color-lowlight);
  margin: 0.3rem;
}

body:not(:has(.for-1:invalid)) li:nth-child(-3n +16) {
  transition: 1s;
  transform: scale(3);
  color: var(--color-highlight);
  cursor: pointer;
}

/* body:not(:has(.for-4:invalid)) li {
  color: var(--color-lowlight);
  margin: 0.3rem;
} */

body:not(:has(.for-4:invalid)) li:nth-last-child(10)~ :has(~ :nth-last-child(2)):nth-child(odd) {
  transition: 1s;
  transform: scale(3);
  color: var(--color-highlight);
  cursor: pointer;
}

/* body:not(:has(.for-2:invalid)) li {
  color: var(--color-lowlight);
  margin: 0.3rem;
} */

body:not(:has(.for-2:invalid)) li:nth-child(-3n +8),
body:not(:has(.for-2:invalid)) li:nth-child(14),
body:not(:has(.for-2:invalid)) li:nth-child(21),
body:not(:has(.for-2:invalid)) li:not(:has(+li)) {
  transition: 1s;
  transform: scale(3);
  color: var(--color-highlight);
  cursor: pointer;
}

/* body:not(:has(.for-3:invalid)) li {
  color: var(--color-lowlight);
  margin: 0.3rem;
} */

body:not(:has(.for-3:invalid)) li:nth-child(5)~ :has(~ :nth-child(8)),
body:not(:has(.for-3:invalid)) li:nth-child(9)~ :has(~ :nth-child(12)),
body:not(:has(.for-3:invalid)) li:nth-child(21) {
  transition: 1s;
  transform: scale(3);
  color: var(--color-highlight);
  cursor: pointer;
}

/* anchor link */ 
.anchorlink p {
  font-size: 1.5em;
}

span:target {
  background-color: var(--color-highlight);
  color: var(--color-lowlight); 
}
