/* //////// */
/* MARK: :is() of :where()
/* ///////// */
form{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

label{
    display: flex;
    flex-direction: column;
    align-items: start;
    input{
        background-color: coral;
    }
}


:root:has(#is:checked){
    input:is([type="text"], [type="number"]){
        background-color: rgb(144, 209, 229);
    }
}

:root:has(#where:checked){
    input:where([type="text"], [type="number"]){
        background-color: rgb(144, 209, 229);
    }
}

:root:has(#is:checked),
:root:has(#where:checked) {
    [name="other-styling"] {
        background-color: yellow;
    }
}